
@{
    ViewBag.Title = "About";
}

<body style="background-image: url('https://oldschoolgrappling.com/wp-content/uploads/2018/08/Background-opera-speeddials-community-web-simple-backgrounds.jpg');background-size: cover; height: 100%;">
    <h2>About Us</h2>

    <p>
        We are an expansion of the already existing food drive NPO, World Food Programme, This website allows users to input information about canned food and clean drinking water that they would like to donate to any nearby drop off points.
    </p>

    <br />
    <br />
    <br />

    <h2>How it Works:</h2>

    <p>
        You, the user will go to a nearby drop off point to donate goods.
        You will then scan a QR code appon arrival which will allow you to input your ID Number as well as other related information.
        You will then press the “Donate” Button and your information will be saved onto the system.
    </p>

    <br />
    <br />
    <br />

    <h2>Profile Tab:</h2>

    <p>
        The profile tab will allow to user to sign in with their ID, this tab will allow the user to track all their previous donations.
    </p>
</body>